<body>
  <%- include('./partials/header') -%>

  <!-- Set maximum container size for ultra wide widths -->
  <main class="gallery">
    <% sections.forEach( (section) => { %>
    <!-- Logic for when we put "full-width-category" class or not -->
    <div class="section full-width-category">
      <h1><%= section.section_name %></h1>

      <% categories.filter(category => category.section_id ===
      section.id).forEach ( (category) => { %>

      <ul class="gallery-list">
        <% skills.filter(skill => skill.category_id === category.id).forEach (
        (skill) => { %>

        <li id="<%= category.id %>">
          <div class="resources">
            <h2><%= skill.skill_name %></h2>
            <ul>
              <% resources.filter( resource => resource.skill_id === skill.id
              ).forEach( (resource) => { %>
              <li>
                <a href="<%= resource.resource_link %> "
                  ><%= resource.resource_name %>
                </a>
              </li>
              <% })%>
              <form
                action="/complete-skill/<%= skill.id %>?_method=PUT"
                method="POST"
              >
                <button type="submit" value="complete-skill" class="btn">
                  Complete Skill
                </button>
              </form>

              <form
                action="/uncomplete-skill/<%= skill.id %>?_method=PUT"
                method="POST"
              >
                <button type="submit" value="uncomplete-skill" class="btn">
                  Uncomplete Skill
                </button>
              </form>
            </ul>
          </div>
          <figure>
            <img src="<%= skill.skill_img %>" alt="<%= skill.skill_name %>" />
            <figcaption><%= skill.skill_name %></figcaption>
          </figure>
        </li>

        <% }) %>
      </ul>
      <% }) %>
    </div>
    <% }) %>
  </main>
</body>
