<body>
  <%- include('./partials/header') -%>

  <!-- Set maximum container size for ultra wide widths -->
  <main class="dashboard">
    <% sections.forEach( (section) => { %>
    <!-- Logic for when we put "full-width-category" class or not -->
    <section
      class="skills-section"
      data-background="<%= section.data_bg %>"
      data-color="<%= section.data_color %>"
    >
      <h1><%= section.section_name %></h1>
      <ul class="gallery-list">
        <% categories.filter(category => category.section_id ===
        section.id).forEach ( (category) => { %> <% skills.filter(skill =>
        skill.category_id === category.id).forEach ( (skill) => { %>

        <li id="<%= category.id %>">
          <div class="resources">
            <div class="resource-content">
              <h2><%= skill.skill_name %></h2>
              <ul>
                <% resources.filter( resource => resource.skill_id === skill.id
                ).forEach( (resource) => { %>
                <li>
                  <a href="<%= resource.resource_link %>" target="_blank"
                    ><%= resource.resource_name %>
                  </a>
                </li>
                <% })%>
                <form
                  action="/complete-skill/<%= skill.id %>?_method=PUT"
                  method="POST"
                >
                  <button
                    type="submit"
                    value="complete-skill"
                    class="secondary-btn <%= skill.completeBtn %>"
                  >
                    Complete Skill
                  </button>
                </form>

                <form
                  action="/uncomplete-skill/<%= skill.id %>?_method=PUT"
                  method="POST"
                >
                  <button
                    type="submit"
                    value="uncomplete-skill"
                    class="secondary-btn <%= skill.uncompleteBtn %>"
                  >
                    Uncomplete Skill
                  </button>
                </form>
              </ul>
            </div>
          </div>
          <figure>
            <img
              src="<%= skill.skill_img %>"
              alt="<%= skill.skill_name %>"
              class="<%= skill.muted %>"
            />
            <figcaption><%= skill.skill_name %></figcaption>
          </figure>
        </li>

        <% }) %> <% }) %>
      </ul>
    </section>
    <% }) %>

    <div class="badges-div">
      <% categoriesCompleted.forEach( (category) => { %>
      <div class="badge bounce_x spin">
        <img class="bounce_y" src="<%= category.category_img %>" />
      </div>
      <% }) %>
    </div>
  </main>
</body>
